<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT anatPage ANY>
<!ATTLIST anatPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT surgery ANY>
<!ATTLIST surgery id ID #REQUIRED>
<!ELEMENT innerPage ANY>
<!ATTLIST innerPage id ID #REQUIRED>
<!ELEMENT contactDocType ANY>
<!ATTLIST contactDocType id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT contenData ANY>
<!ATTLIST contenData id ID #REQUIRED>
<!ELEMENT questionsAndAnswers ANY>
<!ATTLIST questionsAndAnswers id ID #REQUIRED>
<!ELEMENT showGridofData ANY>
<!ATTLIST showGridofData id ID #REQUIRED>
<!ELEMENT definitions ANY>
<!ATTLIST definitions id ID #REQUIRED>
<!ELEMENT slides ANY>
<!ATTLIST slides id ID #REQUIRED>
]>
<root id="-1">
  <home id="1066" key="81c777a9-96a2-49f8-a460-76b966591f13" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-13T13:30:56" updateDate="2017-12-09T22:43:26" nodeName="דף הבית" urlName="דף-הבית" path="-1,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="1063" nodeTypeAlias="home">
    <slidesPicker><![CDATA[umb://document/53538250bb3e438cb352cbb9dd5f6aa3,umb://document/bb52244765ef4b80a13995788ce9a017]]></slidesPicker>
    <title><![CDATA[דף הבית תוכן אמיתי]]></title>
    <aviIntro><![CDATA[מנתח אורתופד מומחה בכיר, מומחה בכתף וטראומה אורתופדית סגן מנהל המחלקה האורתופדית במרכז רפואי העמק]]></aviIntro>
    <linkfromAviImage><![CDATA[umb://document/ec9388ebc1c741b7bf316f0efa9f7db0]]></linkfromAviImage>
    <imageofavi><![CDATA[umb://media/10659b48b3e946309307630aeb9b17ad]]></imageofavi>
    <aviIntroMore><![CDATA[האתר נועד לכם המטופלים הסובלים מבעיות בכתף.

באתר תוכלו למצוא מידע מפורט לגבי הבעיות השונות, והטיפולים המקובלים לכל בעייה. בכל פרק תמצאו הסבר מופשט מלווה תמונות ואיורים מקוריים .]]></aviIntroMore>
    <linkFromImage><![CDATA[umb://document/a4651afcb0a144bab226a479798d0ea4]]></linkFromImage>
    <imageToShow><![CDATA[umb://media/c88626772a154448a4e78672dc7e3596]]></imageToShow>
    <anatIntroMore><![CDATA[מבין המפרקים השונים בגוף האדם הכתף הוא המפרק עם טווח התנועה הגדול ביותר. כדי לאפשר טווח תנועה גדול קיים מגע מינימאלי בין העצמות היציבות של המפרק אינה מתבססת על המבנה הגרמי ויש צורך ברצועות ושרירים (שרירי השרוול המסובב) לשמירת היציבות.]]></anatIntroMore>
    <anatIntro><![CDATA[גלה עוד על האנטומיה של הכתף]]></anatIntro>
    <surgery id="1088" key="88157302-c150-4476-bf68-3c9ea209d290" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2017-11-18T22:09:41" updateDate="2017-11-18T22:11:36" nodeName="דף הבית" urlName="דף-הבית" path="-1,1066,1088" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="1076" nodeTypeAlias="surgery" />
    <surgery id="1078" key="01deff45-9a86-4fc8-b5a1-deaa1d2c7d3f" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2017-11-18T21:43:48" updateDate="2017-12-01T10:45:26" nodeName="ניתוחים" urlName="ניתוחים" path="-1,1066,1078" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="1076" nodeTypeAlias="surgery">
      <title><![CDATA[ניתוחים אורטופדים]]></title>
      <bricks><![CDATA[umb://media/9685972eeedc48fa81b7fd0c4dec42dc,umb://media/b55aea78e65044b285179f8ce10822b5,umb://media/5ba01f573bc848c6b30db9353c4ae065]]></bricks>
      <mainGrid><![CDATA[{
  "name": "4cols",
  "sections": [
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1065,
                    "udi": "umb://media/3d4038ef7dc449b98e6a19471c565f41",
                    "image": "/media/1001/dsc00002.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": "<p>sdfsdf lsdkjflskdjf lk jsldkjf lskdflsk dflk sdflk <a data-udi=\"umb://document/81c777a996a249f8a46076b966591f13\" href=\"/{localLink:umb://document/81c777a996a249f8a46076b966591f13}\" title=\"דף הבית\">skjdf </a>s</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                },
                {
                  "value": "sdfsdfsdfsdfsdf",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "371a9009-2476-c4ab-e992-84c816c59ec0",
          "hasActiveChild": true,
          "active": true
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1090,
                    "udi": "umb://media/5ba01f573bc848c6b30db9353c4ae065",
                    "image": "/media/1002/butterfly.jpg",
                    "caption": "sdfsdfsdf"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1092,
                    "udi": "umb://media/9685972eeedc48fa81b7fd0c4dec42dc",
                    "image": "/media/1004/desert.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": "sdfsdfsdf",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "2292f683-9df5-fc50-88a7-d6eaf4f8fee3"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1091,
                    "udi": "umb://media/b55aea78e65044b285179f8ce10822b5",
                    "image": "/media/1003/city.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1090,
                    "udi": "umb://media/5ba01f573bc848c6b30db9353c4ae065",
                    "image": "/media/1002/butterfly.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "7a1a62aa-5d55-6f37-a57d-72490d05e79d"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1112,
                    "udi": "umb://media/cb5194b5e9a04e0fbbdc31302ff75e6c",
                    "image": "/media/1007/arth_1.gif"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": "<p>This is a rich text editor</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "2182d912-4bf4-735e-29ae-b3cdaa818339"
        }
      ]
    }
  ]
}]]></mainGrid>
      <innerPage id="1118" key="506a2f2e-7877-4f5d-8fbd-bdd015ba7ca4" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2017-12-01T16:53:41" updateDate="2017-12-02T11:48:42" nodeName="ארטרוסקופיה של הכתף" urlName="ארטרוסקופיה-של-הכתף" path="-1,1066,1078,1118" isDoc="" nodeType="1084" creatorName="admin" writerName="admin" writerID="0" template="1086" nodeTypeAlias="innerPage">
        <content><![CDATA[ארטרוסקופיה של הכתף]]></content>
        <title><![CDATA[ארטרוסקופיה של הכתף]]></title>
        <mainGrid><![CDATA[{
  "name": "4cols",
  "sections": [
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "2dbbeeff-68c1-ce81-ca42-637770c8c2ca"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "bc7acb74-fc1f-e186-2433-0a279ea7ef69"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "df2c999b-0bf4-f73b-b742-8c4e74b7a181"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "1c242e8a-38d7-83f1-56b8-9f8b57ef62cd"
        }
      ]
    }
  ]
}]]></mainGrid>
        <brickImages><![CDATA[umb://media/3d4038ef7dc449b98e6a19471c565f41,umb://media/5ba01f573bc848c6b30db9353c4ae065,umb://media/b55aea78e65044b285179f8ce10822b5,umb://media/9685972eeedc48fa81b7fd0c4dec42dc,umb://media/f8ff14c4c8204fde992b94275d04a205,umb://media/b043782f4aee4d239d11424ddc20677d]]></brickImages>
        <dateofUpdate><![CDATA[27th of November 2017]]></dateofUpdate>
        <firstParagraph><![CDATA[<p style="text-align: right;" class="articles_p">פעולה ניתוחית המבוצעת בתוך הכתף תוך שימוש בסיב אופטי ומצלמה המוחדרים לכתף ודרכם ניתן לראות במסך את פנים הכתף ולבצע את הניתוח. ברוב המקרים הניתוח מתבצע תחת הרדמה כללית.</p>
<p style="text-align: right;" class="articles_p"><span>הניתוח כולו מתבצע דרך מספר חתכים קטנים גודל 0 5-1 מ"מ. בפעולות פשוטות די בשני חתכים, בפעולות מורכבות עד </span><span>חמישה חתכים.</span></p>
<p style="text-align: right;" class="articles_p">כדי לאפשר עבודה בסביבה מצומצמת כמו מפרק מוזרם נוזל (סליין – מי מלח, בדומה לתמיסות המשמשות לעירוי נוזלים) דרך משאבה מיוחדת השומרת על לחץ קבוע בתוך המפרק</p>
<p style="text-align: right;" class="articles_p">חלק מהנוזל נספג ברקמות סביב לכתף ולכן לאחר הניתוח הכתף תהיה נפוחה. כהכנה לניתוח מציירים את האנטומיה על הכתף כדי להקל על בחירת המיקום של החתכים כך שלאחר הניתוח במקרים רבים יש מאין ציור שיורד לאחר מספר ימים</p>
<p style="text-align: right;" class="articles_p"><span>כיום רוב הפעולות הניתוחיות בכתף מבוצעות בטכניקת הארטרוסקופיה למעט החלפות מפרק ותיקון שברים.</span></p>
<p style="text-align: right;" class="articles_p">הפעולות מבוצעות ע"י מגוון מכשירים מיוחדים לניתוחים אלו. לפירוט בנוגע לניתוחים ספציפיים ראה בפרק המתאים.</p>]]></firstParagraph>
        <categoryTags><![CDATA[["ניתוחים"]]]></categoryTags>
        <englishHeader><![CDATA[Shoulder Arthroscopy]]></englishHeader>
        <topImage><![CDATA[umb://media/b55aea78e65044b285179f8ce10822b5]]></topImage>
      </innerPage>
      <innerPage id="1127" key="40e1fa53-1d7b-42e5-8206-71ebdd05cff1" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2017-12-02T12:50:26" updateDate="2017-12-02T12:53:26" nodeName="טיפול בפריקות חוזרות" urlName="טיפול-בפריקות-חוזרות" path="-1,1066,1078,1127" isDoc="" nodeType="1084" creatorName="admin" writerName="admin" writerID="0" template="1086" nodeTypeAlias="innerPage">
        <content><![CDATA[טיפול בפריקות חוזרות]]></content>
        <title><![CDATA[טיפול בפריקות חוזרות]]></title>
        <mainGrid><![CDATA[{
  "name": "4cols",
  "sections": [
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "2dbbeeff-68c1-ce81-ca42-637770c8c2ca"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "bc7acb74-fc1f-e186-2433-0a279ea7ef69"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "df2c999b-0bf4-f73b-b742-8c4e74b7a181"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "1c242e8a-38d7-83f1-56b8-9f8b57ef62cd"
        }
      ]
    }
  ]
}]]></mainGrid>
        <brickImages><![CDATA[umb://media/3d4038ef7dc449b98e6a19471c565f41,umb://media/5ba01f573bc848c6b30db9353c4ae065,umb://media/b55aea78e65044b285179f8ce10822b5,umb://media/9685972eeedc48fa81b7fd0c4dec42dc,umb://media/f8ff14c4c8204fde992b94275d04a205,umb://media/b043782f4aee4d239d11424ddc20677d]]></brickImages>
        <dateofUpdate><![CDATA[27th of November 2017]]></dateofUpdate>
        <firstParagraph><![CDATA[<p style="text-align: right;" class="style13"><strong>מהי מטרת הניתוח?</strong></p>
<p style="text-align: right;" class="articles_p">המטרה לטפל בבעיית חוסר יציבות ומניעת פריקות חוזרות של מפרק הכתף. ולאפשר חזרה לפעילות רגילה, זאת תוך שחזור של האנטומיה התקינה ותוך פגיעה מינימלית לרקמות.</p>
<p style="text-align: right;" class="articles_p">מה הפעולות המבוצעות בניתוח?</p>
<p style="text-align: right;" class="articles_p">בניתוח מבוצע תיקון של קרע בלברום הקדמי תוך שימוש בעוגנים.</p>
<p style="text-align: right;" class="articles_p"><strong>מהלך הניתוח?</strong></p>
<p style="text-align: right;" class="articles_p">הניתוח נעשה תחת הרדמה כללית ובטכניקה ארטרוסקופית. במהלך הניתוח מבצעים תפירה של הלברום הקדמי שנקרע חזרה אל הגלנואיד. בשלב ראשון מבצעים שחרור של הרקמה, מכניסים עוגן לתוך עצם הגלנואיד ובעזרת חוטים שיוצאים מהעוגן תופרים את הרקמה למקומה. ברוב המקרים משתמשים ב 2-3 עוגנים.</p>]]></firstParagraph>
        <categoryTags><![CDATA[[]]]></categoryTags>
        <englishHeader><![CDATA[Arthroscopic Bankart repair (ABR)]]></englishHeader>
        <topImage><![CDATA[umb://media/b55aea78e65044b285179f8ce10822b5]]></topImage>
      </innerPage>
      <innerPage id="1128" key="48626730-c9e4-427c-ab0d-2e1bc5d3d772" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2017-12-02T13:17:11" updateDate="2017-12-02T13:18:59" nodeName="ארטרוסקופיה לצורך דקומפרסיה" urlName="ארטרוסקופיה-לצורך-דקומפרסיה" path="-1,1066,1078,1128" isDoc="" nodeType="1084" creatorName="admin" writerName="admin" writerID="0" template="1086" nodeTypeAlias="innerPage">
        <content><![CDATA[ארטרוסקופיה לצורך דקומפרסיה]]></content>
        <title><![CDATA[ארטרוסקופיה לצורך דקומפרסיה]]></title>
        <mainGrid><![CDATA[{
  "name": "4cols",
  "sections": [
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "2dbbeeff-68c1-ce81-ca42-637770c8c2ca"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "bc7acb74-fc1f-e186-2433-0a279ea7ef69"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "df2c999b-0bf4-f73b-b742-8c4e74b7a181"
        }
      ]
    },
    {
      "grid": 3,
      "rows": [
        {
          "name": "headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "1c242e8a-38d7-83f1-56b8-9f8b57ef62cd"
        }
      ]
    }
  ]
}]]></mainGrid>
        <brickImages><![CDATA[umb://media/3d4038ef7dc449b98e6a19471c565f41,umb://media/5ba01f573bc848c6b30db9353c4ae065,umb://media/b55aea78e65044b285179f8ce10822b5,umb://media/9685972eeedc48fa81b7fd0c4dec42dc,umb://media/f8ff14c4c8204fde992b94275d04a205,umb://media/b043782f4aee4d239d11424ddc20677d]]></brickImages>
        <dateofUpdate><![CDATA[27th of November 2017]]></dateofUpdate>
        <firstParagraph><![CDATA[<p style="text-align: right;" class="articles_p">יתוח בטכניקה מילעורית ארטרוסקופית<span> </span><br />מבוצע כטיפול במצב של תסמונת צביטה (Impingement Syndrome), בורסיטיס (Bursitis)או הסתיידות בגידי השרוול המסובב (Calcific Tendinitis). הפעולה יכולה להתבצע לבד או כחלק מפעולה גדולה כגון תיקון קרע בשרוול מסובב</p>
<p style="text-align: right;" class="articles_p">מהלך הניתוח:</p>
<p style="text-align: right;" class="articles_p">מבצעים חתך עורי קטן כ 5-10 מ”מ אורכו ודרכו מחדירים מצלמה זעירה. מבצעים סקירה של המפרק לזיהוי בעיות כדוגמת קרעים והערכת מצב המשטח המפרקי.</p>
<p style="text-align: right;" class="articles_p">יוצרים פתח נוסף בצד הכתף ודרכו מכניסים מכשיר לצורך ניקוי ושאיבת הרקמה הדלקתית. פעולה זו מכונה דקומפרסיה (בתרגום ישיר הפחתת לחץ) Decompression.<span> </span><br />ברוב המקרים מבצעים בנוסף שיוף של עצם האקרומיון בחלקה התחתון,זאת בכדי ליצור מרווח שיאפשר את החלקת הגידים בחופשיות. פעולה זו נקראת אקרומיופלסטי. Acromioplasty. לצורך פעולה זו משתמשים במכשיר שדומה בצורה למכשיר של רופא שיניים לשיוף השן (במקרה שלנו כמובן הידית מאוד ארוכה) במידה וידוע על הסתיידות בגידים, מזהים את המיקום של ההסתידות ומרחיקים אותה מתוך הגיד.<span> </span><br />בסיום הפעולה תופרים את החתכים ומקבעים את היד במתלה.</p>
<p style="text-align: right;" class="articles_p"><u>סכנות או סיבוכים אפשריים:</u></p>
<p style="text-align: right;" class="articles_p">מדובר בפעולה מאוד בטוחה.<span> </span><br />הסיכוי לגרימת נזק קטן מאוד ולרוב זה לא קורה.<span> </span><br />קיים סיכון קטן לזיהום כתוצאה מהפעולה, אולם לשמחתנו הסיבוך נדיר מאוד, פחות מ1%.<span> </span><br />ישנם מקרים בהם למרות הפעולה עדיין לאורך זמן נותר כאב, מצב זה ניתן להגדיר ככישלון של הפעולה.</p>]]></firstParagraph>
        <categoryTags><![CDATA[["ניתוחים"]]]></categoryTags>
        <englishHeader><![CDATA[Arthroscopic Sub Acromial decompression ASD]]></englishHeader>
        <topImage><![CDATA[umb://media/b55aea78e65044b285179f8ce10822b5]]></topImage>
      </innerPage>
    </surgery>
    <anatPage id="1203" key="a4651afc-b0a1-44ba-b226-a479798d0ea4" parentID="1066" level="2" creatorID="0" sortOrder="2" createDate="2017-12-09T22:38:58" updateDate="2017-12-09T22:39:40" nodeName="אנטומיה של הכתף" urlName="אנטומיה-של-הכתף" path="-1,1066,1203" isDoc="" nodeType="1202" creatorName="admin" writerName="admin" writerID="0" template="1201" nodeTypeAlias="anatPage" />
    <surgery id="1080" key="13a69538-9747-464f-af95-ca62b1aba822" parentID="1066" level="2" creatorID="0" sortOrder="3" createDate="2017-11-18T21:47:16" updateDate="2017-11-18T22:11:19" nodeName="פציעות כתף" urlName="פציעות-כתף" path="-1,1066,1080" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="1076" nodeTypeAlias="surgery" />
    <contactDocType id="1131" key="93cef1f8-d230-459c-a803-42f4a5a9ed47" parentID="1066" level="2" creatorID="0" sortOrder="4" createDate="2017-12-02T23:06:52" updateDate="2017-12-09T22:39:32" nodeName="צור קשר" urlName="צור-קשר" path="-1,1066,1131" isDoc="" nodeType="1130" creatorName="admin" writerName="admin" writerID="0" template="1129" nodeTypeAlias="contactDocType">
      <title><![CDATA[צור קשר עם ד"ר שזר]]></title>
    </contactDocType>
    <about id="1138" key="ec9388eb-c1c7-41b7-bf31-6f0efa9f7db0" parentID="1066" level="2" creatorID="0" sortOrder="5" createDate="2017-12-03T00:19:43" updateDate="2017-12-09T22:39:32" nodeName="אודות" urlName="אודות" path="-1,1066,1138" isDoc="" nodeType="1137" creatorName="admin" writerName="admin" writerID="0" template="1133" nodeTypeAlias="about">
      <firstText><![CDATA[ד"ר אבי שזר גדל ולמד בנהריה. הוא מתגורר כיום בקיבוץ רמת השופט ביחד עם בת-זוגתו וחמשת ילדיהם .

שירת שירות סדיר וקבע כלוחם וקצין בסיירת גולני. מאוחר יותר שירת במילואים כקצין בגדוד חי"ר מילואים וכיום משרת כרופא יחידת האלפיניסטים בדרגת רב סרן.]]></firstText>
      <aboutPageBricks><![CDATA[umb://media/5ba01f573bc848c6b30db9353c4ae065,umb://media/9685972eeedc48fa81b7fd0c4dec42dc,umb://media/b55aea78e65044b285179f8ce10822b5]]></aboutPageBricks>
      <medicalAccridsTitle><![CDATA[הכשרה רפואית]]></medicalAccridsTitle>
      <topAboutImg><![CDATA[umb://media/3d4038ef7dc449b98e6a19471c565f41]]></topAboutImg>
      <quoteofDay><![CDATA[כתף כתף כתף]]></quoteofDay>
      <workToday><![CDATA[<p style="text-align: right;" class="articles_p2">ד"ר שזר עובד כסגן מנהל המחלקה האורתופדית במרכז הרפואי העמק בעפולה.</p>
<p style="text-align: right;" class="articles_p2">תחום עיסוקו העיקרי הוא ניתוחי כתף, כולל: ניתוחים ארתרוסקופיים לתיקון קרעים בגידים וברצועות, והרחקת הסתידויות.ניתוחים פתוחים לקבוע שברים והחלפות מפרקים כולל החלפת כתף עם משתל מסוג כתף הפוכה.</p>
<p style="text-align: right;" class="articles_p2">לד"ר שזר ניסיון עשיר במאות ניתוחי כתף מכל הסוגים.ד"ר שזר פעיל בחברה לכתף בישראל ומשתתף באופן סדיר בכנסים ובהשתלמויות בתחום ניתוחי הכתף בארץ ובחו"ל.בתחום ניתוחי הטראומה, עוסק ד"ר שזר בעיקר בניתוחים המורכבים הדורשים מיומנות וניסיון ברמה הגבוהה ביותר.</p>
<p style="text-align: right;" class="articles_p2">ד"ר שזר משמש כמדריך בקורס הטראומה האורתופדית של חברת AO העוסקת בהכשרת מתמחים באורתופדיה בתחום הטראומה.ניתן לפנות לד"ר שזר לצורך בדיקה וטיפול שמרני או ניתוחי בתחום האורתפדיה בכלל ובפרט בתחום בעיות הכתף או לקבלת חוות דעת רפואית או משפטית בתחום האורתופדיה.</p>]]></workToday>
      <workTodayTitle><![CDATA[עמדה ועיסוק כיום]]></workTodayTitle>
      <medicalAccrids><![CDATA[לימודי רפואה בפקולטה לרפואה, בטכניון חיפה, אותם סיים בהצטיינות

סטז' כללי במרכז רפואי רמב"ם בחיפה, סיים בהצטיינות.

התמחות בכירורגיה אורתופדית במרכז רפואי רמב"ם חיפה במחלקה אורתופדית א', סיים את מבחני ההתמחות כמצטיין ארצי.

לאחר סיום ההתמחות החל לעבוד במרכז רפואי העמק בעפולה, כרופא בכיר במחלקה האורתופדית.

עיקר עיסוקו של ד"ר שזר בתחום הטראומה ובעיות כתפיים. את ההכשרה בתחום הכתף רכש במסגרת של קורסים בתחום הארתרוסקופייה של הכתף ובעבודתו כעוזר לד"ר מוזס כולל השתלמות ביחידת הכתף בניהולו של ד"ר מוזס, במרכז הרפואי איכילוב בתל- אביב.]]></medicalAccrids>
    </about>
    <showGridofData id="1163" key="421bc80c-c5b3-48d2-ac84-52cb99dbbb0f" parentID="1066" level="2" creatorID="0" sortOrder="6" createDate="2017-12-05T00:53:33" updateDate="2017-12-09T22:39:32" nodeName="מושגים" urlName="מושגים" path="-1,1066,1163" isDoc="" nodeType="1161" creatorName="admin" writerName="admin" writerID="0" template="1160" nodeTypeAlias="showGridofData">
      <multiPicker><![CDATA[umb://document/ac72535492694838a24fdf27e85ae04f,umb://document/e6db535e349f4a99967250921771bd33]]></multiPicker>
    </showGridofData>
  </home>
  <contenData id="1154" key="c9dcf5a2-126f-4188-8825-7b035d0ed8cb" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-12-05T00:34:16" updateDate="2017-12-05T00:34:16" nodeName="ContentData" urlName="contentdata" path="-1,1154" isDoc="" nodeType="1153" creatorName="admin" writerName="admin" writerID="0" template="1152" nodeTypeAlias="contenData">
    <questionsAndAnswers id="1159" key="d282f5e6-1b9b-4790-940b-c341dc04cf55" parentID="1154" level="2" creatorID="0" sortOrder="0" createDate="2017-12-05T00:45:11" updateDate="2017-12-05T00:45:11" nodeName="Quesi1" urlName="quesi1" path="-1,1154,1159" isDoc="" nodeType="1158" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="questionsAndAnswers">
      <question><![CDATA[This is my question]]></question>
      <answer><![CDATA[This is my answer]]></answer>
      <dateofquestion>2017-12-10T00:00:00</dateofquestion>
    </questionsAndAnswers>
    <questionsAndAnswers id="1167" key="67251c78-98a2-4405-9323-9345baf84906" parentID="1154" level="2" creatorID="0" sortOrder="1" createDate="2017-12-05T01:00:04" updateDate="2017-12-05T01:00:04" nodeName="Quesi2" urlName="quesi2" path="-1,1154,1167" isDoc="" nodeType="1158" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="questionsAndAnswers">
      <question><![CDATA[This is also a question]]></question>
      <answer><![CDATA[This was my Answer]]></answer>
      <dateofquestion>2017-11-30T00:00:00</dateofquestion>
    </questionsAndAnswers>
    <definitions id="1171" key="ac725354-9269-4838-a24f-df27e85ae04f" parentID="1154" level="2" creatorID="0" sortOrder="2" createDate="2017-12-06T00:46:13" updateDate="2017-12-06T22:01:07" nodeName="Def1" urlName="def1" path="-1,1154,1171" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="definitions">
      <definitionlbl_eng><![CDATA[ACJ]]></definitionlbl_eng>
      <definition_text><![CDATA[<p style="text-align: right;">מפרק בין עצם הבריח ועצם השכם נפגע לעיתים קרובות בחבלה לכתף נגרמת פריקה של המפרק</p>
<p> </p>]]></definition_text>
      <definitionlbl><![CDATA[מפרק אקרומיו-קלויקולרי]]></definitionlbl>
    </definitions>
    <definitions id="1172" key="e6db535e-349f-4a99-9672-50921771bd33" parentID="1154" level="2" creatorID="0" sortOrder="3" createDate="2017-12-06T00:47:24" updateDate="2017-12-06T22:02:06" nodeName="Def2" urlName="def2" path="-1,1154,1172" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="definitions">
      <definitionlbl_eng><![CDATA[CJ]]></definitionlbl_eng>
      <definition_text><![CDATA[<p style="text-align: right;"><span>בדיקה מבוססת קרינת רנטגן המאפשרת קבלת הדמיה טובה בעיקר של עצם אולם גם של רקמות רכות היתרון ברזולוציה של הבדיקה החיסרון הרבה קרינה מייננת!</span></p>]]></definition_text>
      <definitionlbl><![CDATA[טומוגרפיה מחושבת]]></definitionlbl>
    </definitions>
    <slides id="1177" key="53538250-bb3e-438c-b352-cbb9dd5f6aa3" parentID="1154" level="2" creatorID="0" sortOrder="4" createDate="2017-12-06T22:41:26" updateDate="2017-12-06T23:38:25" nodeName="Slide1" urlName="slide1" path="-1,1154,1177" isDoc="" nodeType="1176" creatorName="admin" writerName="admin" writerID="0" template="1175" nodeTypeAlias="slides">
      <smallText><![CDATA[כתפיים כתפיים]]></smallText>
      <linktoPageofSlide><![CDATA[umb://document/506a2f2e78774f5d8fbdbdd015ba7ca4]]></linktoPageofSlide>
      <featureSlidePicture><![CDATA[umb://media/806a0c6e54624a728dfd632df94d5301]]></featureSlidePicture>
      <mainTextOverImage><![CDATA[ארטרוסקופיה של הכתף]]></mainTextOverImage>
    </slides>
    <slides id="1185" key="bb522447-65ef-4b80-a139-95788ce9a017" parentID="1154" level="2" creatorID="0" sortOrder="5" createDate="2017-12-06T23:18:35" updateDate="2017-12-06T23:38:51" nodeName="feat2" urlName="feat2" path="-1,1154,1185" isDoc="" nodeType="1176" creatorName="admin" writerName="admin" writerID="0" template="1175" nodeTypeAlias="slides">
      <smallText><![CDATA[ניתוח כיפי]]></smallText>
      <linktoPageofSlide><![CDATA[umb://document/40e1fa531d7b42e5820671ebdd05cff1]]></linktoPageofSlide>
      <featureSlidePicture><![CDATA[umb://media/36ef9735ee154ebf84d8abba97dd22d6]]></featureSlidePicture>
      <mainTextOverImage><![CDATA[טיפול בפריקות חוזרות]]></mainTextOverImage>
    </slides>
  </contenData>
</root>