@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "catefMaster.cshtml";
}

@* the fun starts here *@
<script src="~/js/some.js"></script>
<br />
<div class="row">

    <div class="col-six tab-full">

        <h3>Pull Quotes</h3>
        <img src="~/images/avatars/avipic.png" alt="asd" />
    </div>

    <div class="col-six tab-full">

        <h3>Block Quotes</h3>
        <img src="~/images/avatars/avipic.png" alt="asd" />
    </div>

</div> <!-- end row -->